<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="stylesheet" href="/css/styles.css"> 
    <script src="https://kit.fontawesome.com/a08ed63178.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class= "logo" alt="logo">
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá de cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#"class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tienda Oficial</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-out-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>    
    <main>
        <br>
        <br>
        <h2>Registro</h2>
        <form action="resultado.html" method="POST">
            <br>
            <br>
            <input type="text" name="nombre" placeholder="Nombre y apellido"> 
            <br>
            <br>
            <input type="text" name="usuario" placeholder="Nombre de usuario"> 
            <br>
            <br>
            <input type="email" name="email" placeholder="E-mail"> 
            <br>
            <br>
            <label for="nacimiento"></label>
                <h4>Fehca de nacimiento</h3>
                <input type="date" name="nacimiento"> 
            </label>
            <br>
            <br>
            <textarea name="domicilio" cols="30" rows="1" placeholder="Domicilio"></textarea>
            <br>
            <br>
            <label for="perfil">
                <h4>Perfil del usuario</h3>
                <br>
                <div>
                    <input type="radio" name="perfil" value="Comprador">
                    <span>Comprador</span> 
                    <input type="radio" name="perfil" value="Vendedor"> 
                    <span>Vendedor</span> 
                </div>
            </label>
            <br>
            <label for="interes">
                <h4>Intereses:</h3>
                <br>
                <div>
                    <p>
                        <input type="checkbox" name="interes" value="Electro">
                        <label>Electro</label> 
                    </p>
                    <br>
                    <p>
                        <input type="checkbox" name="interes" value="Moda">
                        <label>Moda</label> 
                    </p>
                    <br>
                    <p>
                        <input type="checkbox" name="interes" value="Hogar">
                        <label>Hogar</label> 
                    </p>
                    <br>
                    <p>
                        <input type="checkbox" name="interes" value="Jugueteria">
                        <label>Juguetería</label> 
                    </p>
                    <br>
                    <p>
                        <input type="checkbox" name="interes" value="Vida sana">
                        <label>Vida sana</label> 
                    </p>
                </div>
            </label>
            <br>
            <label for="foto">
                <h4>Foto de usuario:</h3>
                <input type="file" name="foto" accept=".jpg" multiple>
            </label>
            <br>
            <br>
            <input type="password" name="password" placeholder="Contraseña"> 
            <br>
            <br>
            <input type="password" name="confirmaPassword" placeholder="Confirmar contraseña"> 
            <br>
            <br>
            <button type="reset">Cancelar</button>
            <button type="submit">Enviar</button>
            <br>
            <br>
        </form>
    </main>
    <footer>
        <div>
            <a class="icono">
                <i class="fas fa-credit-card"></i>
            </a>
            <h3  class="opcion">Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <a class="icono">
                <i class="fas fa-gift"></i>
            </a>
            <h3 class="opcion">Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <a class="icono">
                <i class="fas fa-user-shield"></i>
            </a>
            <h3 class="opcion">Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
    </footer>
    <h3 id="termino">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
</body>
</html>